{% extends 'math_app/base.html' %}
{% load static %}
{% load custom_tags %}


{% block content %}
<main>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <p>Step {{ wizard.steps.step1}} of {{ wizard.steps.count }}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{wizard.management_form}}
                    <table>
                        {% for form in wizard.form %}
                        {{wizard.form.management_form}}

<!--                        {% if form.test_part2 %}-->
                        <b>Задание №{{forloop.counter}}</b> Тип {{form.test_part2.exercise.subcategory.category.number}} <a
                            href="{{ form.test.get_absolute_url }}">id {{form.test_part2.id}}</a>
                        {{form.test.problem_text | safe}}
                        <b>Решение:</b>
                        <p>{{form.test.solution | safe}} </p>
                        <b>Критерии:</b>
                        <p>{{form.test.criteria | safe}} </p>
                        {{form.as_p}}
<!--                        {% endif %}-->
                        {% endfor %}

                    </table>
                    </table>
                    <button id='submit' type="submit" name="action" value="submit" class="btn btn-primary mb-2">
                        Отправить ответ
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}