{% extends 'math_app/base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
	<link type="text/css" href="{% static 'exam/css/styles.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row" >
        <div class="col-xs-12 col-sm-8">
            {% if variant_id %}
            <p> Вариант №: {{variant_id}}</p>
            <p> Оценка: {{mark}}  </p>
            {% endif %}
            {% with count1=tests_part1|length %}
            {% with count2=tests_part2|length %}
            Заданий с кратким ответом: {{count1}}, с развернутым ответом: {{count2}} Максимальный балл: {{count1}} + {% widthratio count2 1 2 %}  = {{max_result}}
            {% endwith %}
            {% endwith %}
            <p> Время выполнения: {{time}} </p>
            <p> Набрано баллов: {{result}} </p>
            <p> Набрано баллов по геметрии: {{geometry_result}} </p>

        {% if tests_part1 %}
    <h2>Тестовая часть</h2>
    <table>
    <tr>
      <th>№ п/п</th>
      <th>Номер в каталоге</th>
      <th>Тип</th>
      <th>Ваш ответ</th>
      <th>Правильный ответ</th>
    </tr>
        </thead>
  <tbody>
  {% for test in tests_part1 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{test.id}}</td>
      <td>{{test.exercise.subcategory.category.number}}</td>
        {% with answer=answers|get_value:test %}
        {{answer}}
        {% if answer in test.get_answers %}
      <td class="green">{{answer}}</td>
        {% else %}
      <td class="red">{{answer|default_if_none:''}}</td>
        {% endif %}
        {% endwith %}
      <td>{{ test.get_answers|join:'; ' }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>
        {% endif %}
        {% if tests_part2 %}
        <h2>Часть с развернутым ответом</h2>
            <table>
    <tr>
      <th>№ п/п</th>
      <th>Номер в каталоге</th>
      <th>Тип</th>
      <th>Ваш ответ</th>
      <th>Максимальный балл</th>
    </tr>
        </thead>
  <tbody>
  {% for test in tests_part2 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{test.id}}</td>
      <td>{{test.exercise.subcategory.category.number}}</td>
        {% with answer=answers|get_value:test %}
        {% if answer == '2' %}
      <td class="green">{{answer}}</td>
        {% elif answer == '1' %}
      <td class="yellow">{{answer}}</td>
        {% else %}
      <td class="red">{{answer|default_if_none:''}}</td>
        {% endif %}
        {% endwith %}
      <td>2</td>
    </tr>
  {% endfor %}
</tbody>
</table>
        {% endif %}
            <br>
            {% if tests_part1 %}
    <h2>Решения</h2>
    {% for test in tests_part1 %}
    <b>Задание № {{ forloop.counter }} № {{test.id}} Тип {{test.exercise.subcategory.category.number}}</b>
    <p>{{test.problem_text |safe}}</p>
    <p><b>Ваш ответ: </b>{{answers | get_value:test | default_if_none:'нет ответа'}}</p>
    <p><b>Правильный ответ: </b> {{ test.get_answers|join:'; '}}</p>
    <p><b>Решение: </b>{{test.solution |safe}}</p>
    {% endfor %}
            {% endif %}
        </div>
        </div>
      </div>
</main>
{% endblock %}